<!DOCTYPE html>
<html>
<head>
  <title>Broadcaster</title>
  <meta charset="UTF-8" />
  <link href="/public/css/styles.css" rel="stylesheet">
</head>
<body>
  <input id="RoomId" hidden value="{{RoomId}}"/>
<video playsinline autoplay muted style="pointer-events: none;"></video>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js" integrity="sha512-iZIBSs+gDyTH0ZhUem9eQ1t4DcEn2B9lHxfRMeGQhyNdSUz+rb+5A3ummX6DQTOIs1XK0gOteOg/LPtSo9VJ+w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/public/js/broadcast.js"></script>
</body>
</html>