<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/auth_style.css"/>
</head>
<body>
    <div class="container">
        <div class="row signUp">
            <div class="col-md-4 offset-md-2">
                <h1>Forgot Password</h1>
            </div>
            <div class="register col-md-5">
            {{#if errors }}
                {{#each errors }}
                    <div class="alert alert-secondary" role="alert">{{ this.msg }}</div>
               {{/each}}
            {{/if}}
                
                <form action="/user/forgotpassword" id="form" method="post"  class="form-group inputField">
                    <input class="form-control" id="email" name="email" placeholder="Email Address">
                    <button class="btn-success" id="sendButton" >Send Email</button>
                </form>
               
               {{!-- <div id="resendButton">
                   <label>not received the mail?</label>
                   <button id="sendButton">Resend</button>
               </div> --}}
               

            </div>
        </div>
    </div>
</body>
</html>