<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/css/auth_style.css"/>
</head>
<body>
    <div class="container">
        <div class="row signUp">
            <div class="col-md-4 offset-md-2">
                <h1>Sign Up</h1>
            </div>
            <div class="register col-md-5">
            {{#if errors }}
                {{#each errors }}
                    <div class="alert alert-secondary" role="alert">{{ this.msg }}</div>
               {{/each}}
            {{/if}}
                <form action="/user/resetpassword"  class="form-group inputField" method="post">
                <input name="user" value="{{user}}" hidden>
                <input name="token" value="{{token}}" hidden>
                    <input class="form-control" id="New Password" name="password" placeholder="Password">
                    <input class="form-control" id="ConfirmPassword" placeholder="Confirm Password">
                    <button class="btn-success"  id="Submit" type="submit" >Submit</button>
                </form>
               

            </div>
        </div>
    </div>
</body>
</html>